body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}


input[type="file"] {
    color: #2a353d;
    width: 80%;
    margin-bottom: 10px;
}

#fileList {
    
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selected {
    background-color: #b3e0ff;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.jumbotron{
    text-align: center;
}